<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <style>
        :root {
            --green: #62b93b;
            --green-dark: #49a527;
        }

        .dh-header-card {
            background: #7ae0b2;
            padding: 20px;
        }

        .dh-logo {
            height: 100px;
        }

        /* Search */
        .dh-search {
            display: flex;
            align-items: center;
            max-width: 100%;
        }

        .dh-search-input {
            flex: 1;
            height: 45px;
            border-radius: 999px 0 0 999px;
            border: 1px solid var(--green);
            border-right: none;
            padding: 0 16px;
        }

        .dh-search-btn {
            height: 45px;
            padding: 0 24px;
            border-radius: 0 999px 999px 0;
            background: var(--green);
            border: 1px solid var(--green);
            color: #fff;
            font-weight: 500;
        }

        .dh-header-actions a {
            color: #0050ff;
            font-size: 18px;
            text-decoration: none;
        }

        .d1 div {
            font-size: 16px;
        }

        .nav-link {
            font-size: 18px;
            color:white;
        
        }
        .nav-item{
            width: 150px;
        }

        /*sidebar*/
        .dh-sidebar-table th,
        .dh-sidebar-table td {
            padding: 6px 10px;
            font-size: 14px;
        }

        .dh-sidebar-table a {
            display: block;
            width: 100%;
            color: #333;
            text-decoration: none;
        }

            .dh-sidebar-table a:hover {
                color: var(--green-dark);
            }

        .dh-sidebar-table tr.active-genre td {
            background-color: #e6f7e9;
            font-weight: 600;
        }


   
    </style>
</head>

<body>
    <header class="dh-header">
        <div class="container-fluid px-0">
            <div class="dh-header-card">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-md-4 d-flex align-items-center mb-3 mb-md-0">
                        <a href="@Url.Action("Index","Home")">
                            <img src="https://theme.hstatic.net/1000237375/1000756917/14/logo.png?v=1838"
                                 class="dh-logo" />
                        </a>
                    </div>

                    <div class="col-12 col-md-8">
                        <!-- Row chứa HN và HCM -->
                        <div class="row small">
                            <div class="d1 col-md-6">
                                <div class="fw-semibold">Hà Nội:</div>
                                <div>Điện thoại: 024.73007.008 - 093.4647.172</div>
                                <div>Địa chỉ: Số 63/445 Lạc Long Quân, Tây Hồ, Hà Nội</div>
                                <div>Email: <a href="#">hn@dienhoa24gio.com</a></div>
                            </div>

                            <div class="d1 col-md-6">
                                <div class="fw-semibold">TP.Hồ Chí Minh:</div>
                                <div>Điện thoại: 028.73007.008 - 094.77723.444</div>
                                <div>Địa chỉ: 189 XvNT, P.17, Q.Bình Thạnh</div>
                                <div>Email: <a href="#">hcm@dienhoa24gio.com</a></div>
                            </div>
                        </div>

                       

                    </div>

                </div>

            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-success py-3">
            <div class="container">

                <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index", "Home")">
                    <i class="fa-solid fa-book me-2" style="font-size:28px; color:yellow"></i>
                    <span class="fw-bold text-white">Library</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">

                    <!-- Left menu -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                        <li class="nav-item"><a class="nav-link text-white fw-semibold" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-white fw-semibold" href="#">Đăng Nhập</a></li>
                        <li class="nav-item"><a class="nav-link text-white fw-semibold" href="#">Đăng Ký</a></li>
                        <li class="nav-item"><a class="nav-link text-white fw-semibold" href="#">Liên Hệ</a></li>
                    </ul>

                    <!-- Search -->
                    <div class="d-flex me-3" >
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "dh-search w-100" }))
                        {
                            @Html.TextBox("search",
                                ViewBag.Search as string,
                                new
                                {
                                    @class = "dh-search-input w-100",
                                    placeholder = "Nhập tên sách..."
                                })

                            <button type="submit" class="dh-search-btn">Tìm</button>
                        }
                    </div>

                    <!-- Sort -->
                    <div class="d-flex">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "d-flex align-items-center" }))
                        {
                            @Html.DropDownList(
                                "SortBy",
                                new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "--- Sắp xếp theo ---", Value = "" },
                                    new SelectListItem { Text = "Tên Sách", Value = "Name" },
                                    new SelectListItem { Text = "Giá Sách", Value = "Price" },
                                    new SelectListItem { Text = "Ngày", Value = "PublicationDate" }
                                },
                                new
                                {
                                    @class = "form-select",
                                    onchange = "this.form.submit();",
                                    style = "min-width:160px"
                                }
                            )
                        }
                    </div>

                </div>
            </div>
        </nav>


    </header>

    <main class="dh-main-wrapper py-4">
        <div class="container">
            <div class="row">
                <!-- SIDEBAR THỂ LOẠI -->
                <aside class="col-md-2 mb-3">
                    @Html.Action("GenreSidebar", "Home")
                </aside>

                <!-- NỘI DUNG CHÍNH -->
                <section class="col-md-10">
                    @RenderBody()
                </section>
            </div>
        </div>
    </main>


    <footer class="dh-footer bg-success">
        <div class="container-fluid small py-3 text-center text-white">
            Liên hệ Khoa Công nghệ Thông tin – Trường Đại học Công nghiệp Thực phẩm TP.HCM.<br />
            Địa chỉ: 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, Tp.HCM.
            ĐT: (028)3.8161673 (ext 136) – Mail: kcntt@hufi.edu.vn
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
